# Gradle
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# IDEA files
.idea/
*.iml

# Avoid tracking some specific IntelliJ IDEA files
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/misc.xml
.idea/.name

# MacOS
.DS_Store

# Native build
.externalNativeBuild/
.cxx/

# Screenshots
captures/

# Local config file containing IP server
app/src/main/java/com/example/happy_wallet_mobile/Data/Remote/Config.java